<div class="well well-sm">
   <p>This post is part of series on automation. I may adjust these posts as my research grows. If you've got comments leave feedback at the bottom!</p>
   <ul>
     <li><a href="http://onemogin.com/automation/improving-automation.html">Stop Hitting Yourself: How Automation Is Hurting You</a></li>
     <li><a href="http://onemogin.com/automation/alternatives-to-automation.html">Alternatives to Automation: Amplification, Complexity, and Control</a></li>
     <li><a href="http://onemogin.com/automation/automation/improving-automation.html">Improving Automation: Working Together</a></li>
   </ul>
   <p>
     Thanks to Arijit Mukherji, Franklin Hu, Jay Shirley, and Rajesh Raman for their feedback and reviews of these posts.
   </p>
</div>
