<div class="well well-sm">
  <p>This post is part of <em>A Practitioner's Guide to System Dashboard Design</em>.</p>
  <ol>
    <li><a href="http://onemogin.com/observability/dashboards/practitioners-guide-to-system-dashboard-design.html">Structure and Layout</a></li>
    <li><a href="https://onemogin.com/observability/dashboards/practitioners-guide-to-system-dashboard-design-p2.html">Presentation and Accessibility</a></li>
    <li>What Charts To Use (COMING SOON)</li>
    <li>Context Improvement (COMING SOON)</li>
  </ol>
</div>
