<div class="well well-sm">
  <small>
   This post is part of series on garbage collection. I'm not remotely close to an expert on the subject, but <a href="http://onemogin.com/people/smart/i-have-valuable-information.html">I'm learning</a>. If you've got comments leave feedback at the bottom!
   <ul>
     <li><a href="http://onemogin.com/programming/gc/why-garbage-collection.html">Why Garbage Collection</a></li>
     <li><a href="http://onemogin.com/java/gc/java-gc-tuning-for-noobs-1.html">Java GC Tuning for Noobs: Part 1</a></li>
     <li><a href="http://onemogin.com/java/gc/java-gc-tuning-generational.html">Java GC Tuning for Noobs Part 2: Generational</a></li>
     <li><a href="http://onemogin.com/java/gc/java-gc-cms.html">GC Tuning for Noobs: Part 3, Parallelism</a></li>
   </ul>
  </small>
</div>
