<header class="mb-3 shadow-md p-3 border-b border-gray-200">

  <div class="flex items-center">

    <a class="text-2xl" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="ml-auto text-sm">
      <div class="px-5 py-3 rounded-2xl shadow-md border border-gray-200 space-x-3">
        <a class="hover:underline text-rose-500 hover:text-rose-600" href="{{ '/observability' | prepend: site.baseurl }}">Observability</a>
        <a class="hover:underline text-rose-500 hover:text-rose-600" href="{{ '/resilience' | prepend: site.baseurl }}">Resilience</a>
        <a class="hover:underline text-rose-500 hover:text-rose-600" href="{{ '/about' | prepend: site.baseurl }}">About</a>
      </div>
    </nav>

  </div>

</header>
