---
layout: default
---
<div>
  <article class="prose prose-neutral lg:prose-lg dark:prose-invert prose-a:text-rose-500">
    <header>
      <h1>{{ page.title }}</h1>
      <time datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

     {{ content }}

    <p>
      <a href="https://github.com/gphat/feedback/issues/new"><button class="btn btn-default btn-info"><i class="fa fa-comments-o"></i> Leave Me Feedback</button></a>
    </p>

    <div class="p-3 shadow-md rounded-md border border-gray-200">
      <div class="panel-heading">
        <div class="font-semibold">Like What You Are Reading?</div>
      </div>
      <div class="panel-body">
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS!</a>
      </div>
    </div>
  </article>
</div>
