---
layout: default
---
<div>
  <article class="prose prose-neutral lg:prose-lg dark:prose-invert prose-a:text-rose-500">
    <header>
      <h1>{{ page.title }}</h1>
      <time class="text-sm text-gray-400" datetime="{{ page.date }}">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

     {{ content }}

    <p>
      <a href="https://github.com/gphat/feedback/issues/new">
        <button type="button" class="inline-flex items-center gap-x-1.5 rounded-md bg-rose-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-rose-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M10 3c-4.31 0-8 3.033-8 7 0 2.024.978 3.825 2.499 5.085a3.478 3.478 0 01-.522 1.756.75.75 0 00.584 1.143 5.976 5.976 0 003.936-1.108c.487.082.99.124 1.503.124 4.31 0 8-3.033 8-7s-3.69-7-8-7zm0 8a1 1 0 100-2 1 1 0 000 2zm-2-1a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
          </svg>
          Leave Me Feedback!
        </button>
      </a>
    </p>

    <div class="p-3 shadow-md rounded-md border border-gray-200 dark:border-zinc-700">
      <div class="panel-heading">
        <div class="font-semibold">Like what you are reading?</div>
      </div>
      <div class="flex items-center gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
        <p class="text-sm">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS!</a></p>
      </div>
    </div>
  </article>
</div>
